*{
    box-sizing: border-box;
    margin: 0;
}

.movie_poster{
    width: 280px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}
.movie_title{
    font-size: 20px;
    font-weight: 500;
    color: #eee;
    font-weight: bold;
}
.movie_year{
    color:#eee;
    font-weight: 500;
    margin-right: 10px;
}
.movie_box{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}
.movie_type{
    background-color: tomato;
    width: 60px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 3px;
    color: #eee;
    text-align: center;
    padding-bottom: 2px;
}
.movie_item{
    width: 300px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #373b69;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

    /* box-shadow: 0px 0px 10px 1px black; */

}