* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 10px 1px rgb(15, 14, 17);
    position: fixed;
    width: 100%;
}

h1 {
    color: #eee;
    text-shadow: 0px 0px 5px black;
}

input {
    border: 2px solid #22254b;
    font-size: 1rem;
    color: #eee;
    background-color: transparent;
    border-radius: 50px;
    font-size: 1rem ;
    padding: 1.2rem;
}
input:focus{
    outline: none;
    background-color: #22254b;
}

input::placeholder{
    color: #7378c5;
}

button {
    width: 60px;
    border-radius: 15px;
    border: none;
    margin: 5px;
}
button:active{
    background-color: blue;
}
.search_bar {
    height: 30px;
    /* box-shadow: 0px 0px 20px 2px rgb(123, 22, 218); */
}