.pagination{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}
.btn{
    width: 30px;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(11, 83, 146);
    color: #eee;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}